<%= form_with(model: plannification) do |form| %>
  <% if plannification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plannification.errors.count, "error") %> prohibited this plannification from being saved:</h2>

      <ul>
        <% plannification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :localisation %>
    <%= form.text_area :localisation %>
  </div>

  <div class="field">
    <%= form.label :etat %>
    <%= form.check_box :etat %>
  </div>
    
  <div class="field">
    <%= form.label :prestation_id %>
    <%= form.collection_select :prestation_id, Prestation.where(:user_id => current_user.id), :id, :designation %>
    
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
